@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed&family=Sofia+Sans+Semi+Condensed&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed:wght@200;400&family=Sofia+Sans+Semi+Condensed&display=swap')
	;

@media only screen and (max-width: 3840px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
	}
	body {
		font-size: 100%;
		background-color: #AED6F1;
	}
	.cabecalho-saldo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 2%;
	}
	.cabecalho-imagem-saldo {
		height: 75px;
		padding-left: 50px;
		padding-right: 30px;
	}
	.conteudo {
		border-top: 2px solid #45B606;
		padding: 30px;
	}
	.conteudo-principal {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.conteudo-principal-div {
		width: 100%;
		max-width: 500px;
		height: auto;
		background-color: #FFFA8C;
		border: 2px solid #DBC700;
		border-radius: 20px;
	}
	.conteudo-principal-tema {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: bold;
		font-size: 40px;
		text-align: center;
		padding: 20px;
	}
	.conteudo-principal-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 28px;
		font-weight: 400;
	}
	.div-input-alimentacao1,
	.div-input-alimentacao2,
	.div-input-dinheiro {
		max-width: 400px;
		text-align: center;
	}
	.conteudo-principal-input-alimentacao1,
	.conteudo-principal-input-alimentacao2,
	.conteudo-principal-input-dinheiro {
		border-radius: 5px;
		border: 1px solid #084D02;
		width: 50%;
		height: 28px;
		background-color: #FFFFFF;
		color: #000000;
		margin-top: 15px;
		text-align: center;
		font-size: 16px;
		margin-bottom: 15px;
	}
	.conteudo-principal-botoes {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 25px;
	}
	.conteudo-altera-input {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 26px;
		width: 200%;
		height: 40px;
		border: none;
		border-radius: 10px;
		background-color: #45B606;
		color: #FFFFFF;
		margin-bottom: 15px;
	}
	.conteudo-altera-voltar {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 26px;
		width: 200%;
		height: 40px;
		border: none;
		border-radius: 10px;
		background-color: #45B606;
		color: #FFFFFF;
	}
	.rodape {
		margin-bottom: 32px;
		border-top: 2px solid #45B606;
	}
}