@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed&family=Sofia+Sans+Semi+Condensed&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed:wght@200;400&family=Sofia+Sans+Semi+Condensed&display=swap')
	;

@media only screen and (max-width: 3840px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
	}
	body {
		font-size: 100%;
		background-color: #AED6F1;
	}
	.cabecalho {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 2%;
	}
	.cabecalho-imagem {
		height: 75px;
		padding-left: 50px;
		padding-right: 30px;
	}
	.conteudo {
		border-top: 2px solid #45B606;
		padding: 30px;
	}
	.conteudo-altera-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.conteudo-altera-div {
		padding: 20px;
		width: 100%;
		max-width: 400px;
		height: auto;
		background-color: #FFFA8C;
		border: 2px solid #DBC700;
		border-radius: 20px;
	}
	.conteudo-altera-tema {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: bold;
		font-size: 40px;
		margin-bottom: 20px;
		text-align: center;
	}
	.conteudo-altera-form {
		display: flex;
		flex-direction: column;
		align-items: left;
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 25px;
		padding: 10px;
	}
	.conteudo-altera-input-nome {
		border-radius: 5px;
		text-align: center;
		font-size: 16px;
		border: 1px solid #084D02;
		width: 60%;
		height: 25px;
		background-color: #FFFFFF;
		color: #000000;
		margin-bottom: 20px;
	}
	.conteudo-altera-input-valor {
		border-radius: 5px;
		text-align: center;
		font-size: 16px;
		width: 35%;
		height: 25px;
		background-color: #FFFFFF;
		border: 1px solid #084D02;
		color: #000000;
		margin-bottom: 20px;
	}
	.conteudo-altera-input-quant {
		border-radius: 5px;
		text-align: center;
		font-size: 16px;
		width: 20%;
		height: 25px;
		background-color: #FFFFFF;
		border: 1px solid #084D02;
		color: #000000;
		margin-bottom: 20px;
	}
	.conteudo-altera-botoes {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
	}
	.conteudo-altera-input {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 26px;
		color: white;
		border: none;
		border-radius: 10px;
		background-color: #45B606;
		width: 180%;
		height: 40px;
		margin-bottom: 10px;
	}
	.conteudo-altera-voltar {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 26px;
		color: white;
		border: none;
		border-radius: 10px;
		background-color: #45B606;
		width: 180%;
		height: 40px;
		margin-bottom: 10px;
	}
	.conteudo-altera-input:hover {
		background-color: #15969D;
	}
	.conteudo-altera-voltar:hover {
		background-color: #15969D;
	}
	.rodape {
		padding: 32px;
		border-top: 2px solid #45B606;
	}
}