@charset "iso-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed&family=Sofia+Sans+Semi+Condensed&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed:wght@200;400&family=Sofia+Sans+Semi+Condensed&display=swap')
	;

@media only screen and (max-width: 3840px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
	}
	body {
		font-size: 100%;
		background-color: #AED6F1;
	}
	.cabecalho {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 2%;
	}
	.cabecalho-imagem {
		height: 75px;
		padding-left: 50px;
		padding-right: 90px;
	}
	.cabecalho-menu {
		display: flex;
		flex-flow: row wrap;
		gap: 10px;
	}
	.cabecalho-menu-item {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: 400;
		font-size: 26px;
		color: #000000;
		padding-right: 25px;
	}
	.cabecalho-menu-item:hover {
		color: #45B606;
	}
	.conteudo {
		border-top: 2px solid #45B606;
		padding: 30px;
	}
	.conteudo-principal-tabela {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.conteudo-principal-tabela-div {
		width: 100%;
		max-width: 500px;
		height: auto;
		padding: 20px;
		background-color: #91F689;
		border: 2px solid #084D02;
		border-radius: 20px;
		text-align: center;
	}
	.conteudo-principal-tabela-tema {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: bold;
		font-size: 40px;
		padding: 5px;
		text-align: center;
	}
	.tabela {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: 10px;
		width: 100%;
		max-width: 500px;
		height: auto;
		background-color: white;
		border-radius: 10px;
		border: 2px solid #B89600;
	}
	.conteudo-alimentacao1,
	.conteudo-alimentacao2,
	.conteudo-dinheiro {
		text-align: right;
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 26px;
	}
	.tema-alimentacao-dinheiro,
	.valor-saldo-dinheiro,
	.conteudo-tabela-vazio {
		border-bottom: 1px solid black;
		padding-right: 26px;
	}
	.botao-alterar,
	.botao-excluir {
		padding-right: 10px;
		border: none;
		background-color: white;
	}
	.tema-alimentacao,
	.valor-saldo {
		padding-right: 26px;
	}
	.conteudo-principal-tabela-total {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: 500;
		font-size: 30px;
		padding: 20px;
		text-align: center;
	}
	.section-botao-voltar {
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.botao-cadastro-saldo {
		padding: 5px;
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 26px;
		width: 50%;
		height: 40px;
		border: none;
		border-radius: 15px;
		background-color: #0E7405;
		color: #FFFFFF;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.botao-cadastro-saldo:hover {
		background-color: #15969D;
	}
	.botao-cadastro {
		padding: 5px;
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 26px;
		text-align: center;
		width: 50%;
		height: 60px;
		border: none;
		border-radius: 15px;
		background-color: #0E7405;
		color: #FFFFFF;
		margin: 0 auto;
	}
	.botao-cadastro:hover {
		background-color: #15969D;
	}
	.rodape {
		border-top: 2px solid #45B606;
	}
}