@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed&family=Sofia+Sans+Semi+Condensed&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed:wght@200;400&family=Sofia+Sans+Semi+Condensed&display=swap')
	;

@media only screen and (max-width: 600px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
	}
	body {
		font-size: 100%;
		background-color: #AED6F1;
	}
	.cabecalho-imagem {
		margin-top: 10px;
		width: 10%;
		height: auto;
		padding-top: 10%;
	}
	.cabecalho {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 30px;
	}
	.cabecalho-menu {
		display: flex;
		flex-flow: column wrap;
	}
	.cabecalho-menu-item {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: 400;
		font-size: 25px;
		text-align: left;
		color: #000000;
		padding-bottom: 10%;
	}
	.cabecalho-menu-item:hover {
		color: #45B606;
	}
	.conteudo {
		border-top: 0.4px solid #45B606;
		padding: 30px;
	}
	.conteudo-principal-tabela {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.conteudo-principal-tabela-div {
		width: 100%;
		max-width: 500px;
		height: auto;
		padding: 20px;
		background-color: #91F689;
		border: 1px solid #084D02;
		border-radius: 20px;
		text-align: center;
	}
	.conteudo-principal-tabela-tema {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: bold;
		font-size: 40px;
		padding: 5px;
		text-align: center;
	}
	.conteudo-principal-tema-data {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: 500;
		font-size: 30px;
		padding: 20px;
		text-align: center;
	}
	.tabela {
		margin: 0 auto;
		padding: 10px;
		width: 100%;
		max-width: 500px;
		height: auto;
		background-color: white;
		border-radius: 10px;
		border: 1px solid #B89600;
	}
	.cabecalho-tabela {
		font-weight: bold;
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-size: 20px;
	}
	.itens-conteudo-tabela:hover {
		background-color: #FFFF00;
	}
	.conteudo-tabela {
		text-align: center;
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		border-bottom: 1px solid black;
	}
	.conteudo-principal-tabela-total {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: 500;
		font-size: 30px;
		padding: 20px;
		text-align: center;
	}
	.section-botoes {
		align-items: center;
	}
	.botao-voltar {
		padding: 5px;
		font-family: FreeMono, monospace;
		font-size: 19px;
		width: 85%;
		height: 40px;
		border: none;
		border-radius: 15px;
		background-color: #0E7405;
		color: #FFFFFF;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.botao-voltar:hover {
		background-color: #15969D;
	}
	.botao-limpar-lista {
		font-family: 'Sofia Sans Extra Condensed', sans-serif;
		font-weight: 400;
		font-size: 25px;
		border: none;
		border-radius: 10px;
		background-color: #FFFF00;
		width: 110px;
		height: 40px;
	}
	.botao-limpar-lista:hover {
		background-color: #15969D;
	}
	.rodape {
		padding: 32px;
		border-top: 0.4px solid #45B606;
	}
}